a:link {
    text-decoration: none;
}
a:visited {
color: inherit;
}
ul, ol {
list-style-type: none;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}
button {
    cursor: pointer;
}
img {
    display: block;
}
.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section{
    padding-top: 120px;
    padding-right: 0px;
    padding-bottom: 120px;
    padding-left: 0px;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

/* HEADER*/
.page-header{
    box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #e7e9fc;
}
.page-header-container{
 display: flex;
}
.page-nav{
display: flex;
align-items: center; 
padding: 24px 0;
}

.page-menu{
display: flex;
}

.page-menu-item:not(:last-child){
    margin-right: 40px;
}


.page-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.text-logo {
    color: #2e2f42;;
}
.page-menu-link:hover {
 color: #404bbf;
}
.page-menu-link:focus{
    color: #404bbf;
}
.page-menu-link {
    position: relative;
    color: #404bbf;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    align-items: center;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.page-menu-link::after{
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.address-menu {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
display: flex;
}
.address-item:not(:last-child){
    margin-right: 40px;
    margin-left: 332px;
}
.address-item{
    padding: 24px 0;
}
.address-link {
    color:#434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover{
    color: #404bbf;
}
.address-link:focus{
    color: #404bbf;
}
.page-address {
    font-style: normal;
}

/* HERO */

.main-section-head {
    font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
max-width: 496px;
margin-bottom: 17px;
}
.main-section {
background: #2e2f42;
max-width: 1440px;
margin-left: auto;
margin-right: auto;
padding: 188px 0;

background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.main-section-button {
    font-family: Roboto, sans-serif;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
background-color: #4d5ae5;
min-width: 169px;
height: 56px;
border-radius: 4px;
border: none;
display: block;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-section-button:hover{
    background-color: #404bbf;
}
.main-section-button:focus{
    background-color: #404bbf;
}

/* Section About*/
.about-icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.about-list{
    display: flex; 
    gap: 24px;
}
.about-item{
    width:calc((100% - 72px) / 4);
}
.section-about{
padding-top: 120px;  
padding-bottom: 120px;  
padding-left: auto;
padding-right: auto;
}
.about-list:not(:last-child){
    margin-right: 24px;
}

.about-item-head {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;

}
.about-item-paragraph{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.about-list-icons{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}
  
/* Section Our Team*/

.our-team-head{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
padding-top: 120px;
}
.our-team-paragraph{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-align: center;
}
.our-team-section{
    background-color: #f4f4fd;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 120px 0;
}
.our-team-container{
    padding: 32px 0;
}
.our-team-item{
    background-color: #FFFFFF;
    width:calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-team-item-head{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: center;
margin-bottom: 8px;
}
.our-team-list{
    padding-bottom: 120px;
    display: flex;
}
.our-team-item:not(:last-child){
margin-right: 24px;
}
.team-social-list{
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 24px;
}
.team-socal-list-item{
    height: 40px;
    width: 40px;
}
.team-social-list-icon{
    fill: #f4f4fd;
}
.team-social-list-link{
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius:50%;
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-list-link:hover,
.team-social-list-link:focus
{
    background-color: #404bbf; 
}
/*Our Portfolio */

.portfolio-section{
    padding-top: 120px; 
    padding-bottom: 120px;
}
.our-portfolio-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.our-portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}
.our-portfolio-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-portfolio-item{
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.our-portfolio-img-wrapper{
    position: relative;
    overflow: hidden;
}
.overlay-paragraph{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #F4F4FD;
    padding: 40px 32px;
    margin: auto;
    font-size: 16px;

}
.our-portfolio-item:hover .overlay-paragraph {
    transform: translateY(0%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-list li:first-child {
    width: calc((100% - 48px) / 3);
}
.our-portfolio-head{
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}

.our-portfolio-item-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.our-portfolio-paragraph{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}

/* Footer*/
.footer-container{
    align-items: baseline;
    display: flex;
}
.footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 264px;
}
.page-footer {
    background-color: #2e2f42;;
    padding-top: 100px;
    padding-bottom: 100px;
}
.page-logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}
.text-logo-footer-italic{
    color: #f4f4fd;
}
.text-logo-footer{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-media-text{
    margin-bottom: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    display: inline-block;
}
.footer-media-list{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.footer-container{
    display: flex; 
    align-items: baseline;
}
.foooter-logo-wrapper{
    margin-right: 120px; 
}
.footer-media-icon{
  fill: #f4f4fd;
}
.footer-media-link{
    fill: #f4f4fd;
    stroke: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-media-link:hover, 
.footer-media-link:focus {
    background-color:#31d0aa;
}
.footer-media-item{
    width: 40px;
    height: 40px;
}
.subscribe-container{
    margin-left: 80px;
}
.social-text{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    display: inline-block;
}
.subscribe-form {
    display: flex;
    gap: 24px;
}
.subscribe-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscribe-form-submit {
    min-width: 165px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
    color: #ffffff;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    transition: color 250ms linear, background-color 250ms linear;
}
.subscribe-icon {
    margin-left: 16px;
    fill: #fff;
    height: 24px;
    width: 24px;
}
svg:not(:root) {
        overflow-clip-margin: content-box;
        overflow: hidden;}
 /*Modal */
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal{
    width: 408px;
    min-height: 584px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: #fcfcfc;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 72px;
    padding-left: 24px;
    padding-bottom: 24px;
    padding-right: 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-close-btn{
position: absolute;
top: 24px;
right: 24px;
border-radius: 50%;
width: 24px;
height: 24px;
padding: 0;
cursor: pointer;
stroke: rgba(0, 0, 0, 0.1);
border: 1px solid;
background-color: #e7e9fc;
display: flex;
justify-content: center;
align-items: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
border: 1px solid rgba(0, 0, 0, 0.1)
}
.modal-close-btn:hover,
.modal-close-btn:focus{
    background-color:  #404bbf;
    border: none;
}
.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon{
    fill:  #ffffff;
}
.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-close-icon{
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-description{
    max-width: 360;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
}
.contact-form-field-wrapper{
    margin-bottom: 8px;
}
.contact-form-field-label{
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}
.contact-form-field-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
padding-left: 38px;
background-color: transparent;
outline: transparent; 
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-field-input:focus{
    border-color:  #4d5ae5;
    outline: transparent;
}

.contact-form-field-input:focus + .contact-form-field-icon{
    fill: #4d5ae5;
}
.contact-form-input-wrapper{
    position: relative;
}
.contact-form-field-icon{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-field-textarea{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    resize: none;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-field-textarea:focus{
   border-color: #4d5ae5;
   outline: transparent;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-field-textarea::placeholder{
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
}
.contact-form-checkbox-label{
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}
.contact-form-own-chatbox{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
cursor: pointer;
fill: transparent;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privicy-policy-link{
    color: #4d5ae5;
    text-decoration: underline;
}
.contact-form-checkbox-wrapper{
    margin-bottom: 24px;
}
.contact-form-checkbox:checked + .contact-form-checkbox-label .contact-form-own-chatbox{
    background-color: #404bbf;
    border-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}
.contact-form-checkbox:focus + .contact-form-checkbox-label .contact-form-own-chatbox{
outline: 2px solid rgba(0, 0, 255, 0.5);
}
.contact-form-submit{
    display: block; 
    min-width: 169px;
    height:  56px;
    font-family: "Roboto", sans-serif;
align-items: center;
justify-content: center;
border: none;
border-radius: 4px;
padding: 16px 32px;
gap: 10px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
transform: translateX(50%);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}